<% if logged_in? %>
  <h1><%= t "activity_timeline" %></h1>

  <div class="row">
    <%= render "shared/feed" %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "center_jumbotron.welcome" %></h1>
  </div>

  <div class="row">
    <h1><%= t "books.latest_books" %></h1>
    <%= render @books %>
  </div>

  <div class="row">
    <h1><%= t "review.new" %></h1>
    <%= render @reviews %>
  </div>
<% end %>
