<div class="book">
  <div class="col-xs-6 col-md-4 abook">
    <div class="row thumbnail abox">
      <div class="col-md-6 img-responsive">
        <%= image_tag book.picture, size: Settings.picture_size,
          class: "img-responsive" %>
      </div>
      <div class="col-md-6 text-center">
        <p><b><%= book.title %></b></p>
        <p><%= book.category.name %></p>
        <p><%= book.author %></p>
        <p><%= book.publish_date %></p>
        <p><%= book.number_of_page %></p>
        <p><%= book.avg_rate %></p>
        <%= link_to t("book.detail"), admin_book_path(book) %>
      </div>
    </div>
  </div>
</div>
