<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= render "follow_form" if logged_in? &&
      !current_user.current_user?(@user) %>
  </div>

  <div class="col-md-8 col-xs-4">
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#activity">
          <%= t "activity_timeline" %></a></li>
        <li><a data-toggle="tab" href="#favorite_book">
          <%= t "book.favorite" %></a></li>
        <li><a data-toggle="tab" href="#reading_history">
          <%= t "user.reading_history" %></a></li>
      </ul>
    </div>

    <div class="tab-content">

      <div id="activity" class="tab-pane fade in active">
        <div class="card">
          <div class="table-responsive">
            <h1 class="text-center">
              <%= t "user.activity" %> (<%= @user.activities.count %>)
            </h1>
            <% if @user.activities.any? %>
              <ol class="activities">
                <%= render @activities %>
              </ol>
              <%= will_paginate @activities %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="favorite_book" class="tab-pane fade">
        <div class="card">
          <div class="table-responsive">
            <%= render partial: "books/index_favorite",
              locals: {books_favorite: @books_favorite} %>
          </div>
        </div>
      </div>

      <div id="reading_history" class="tab-pane fade">
        <div class="card">
          <div class="table-responsive">
            <h1 class="text-center"><%= t "user.reading_history" %></h1>
            <%= render @user_books %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
