<% provide :title, @book.title %>
<div class="book thumbnail">
  <div class="row abox">
    <div class="col-md-5 col-md-offset-1 img-responsive product_img">
      <%= image_tag @book.picture, size: Settings.picture_size,
        class: "img-responsive img-thumbnail product-img" %>
    </div>

    <div class="col-md-6">
      <%= render "book_form" %>

      <div class="row radio" id="mark">
        <%= render "books/mark" %>
      </div>
      <br>
    </div>
    <%= link_to t("book.write_review"), new_review_path(book_id: @book.id),
      class: "col-md-4 col-md-offset-7 btn btn-primary" %>
    <br>

    <br>
    <div class="col-md-11 col-md-offset-1" id="link_list">
      <hr>
      <%= render "reviews/review_form" %>
    </div>
  </div>
</div>
