<div class="row">
  <%= form_for [:admin, @category] do |f| %>
    <%= render "shared/error_messages", object: @category %>
    <%= f.label :name, class: "col-md-4" %>
    <%= f.text_field :name, class: "col-md-8" %>

    <%= f.label :description, class: "col-md-4" %>
    <%= f.text_area :description, class: "col-md-8" %>
    <div class="row">
    </div>
    <%= link_to_add_fields t("admin_method.add_book"), f, :books %>
    <%= f.submit t("btn.submit"),
      class: "btn btn-primary pull-right" %>
  <% end %>
</div>
