<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.user, size: Settings.size_gravatar),
    activity.user %>
  <span class="content">
    <%= link_to activity.user.name, activity.user %>
    <%= activity.act_type %>
    <%= link_to "#{target_name(activity)}", activity(activity) %>
  </span>
  <span class="timestamp">
    <%= t "user.activity" %>
    <%= time_ago_in_words activity.created_at %>
    <%= t "activity.time" %>
  </span>
</li>
