<li id="activity-<%= activity.id %>">
  <%= link_to gravatar_for(activity.user, size: Settings.size_gravatar),
    activity.user %>
  <span class="content">
    <%= link_to activity.user.name, activity.user %>
    <%= activity.act_type %>
    <%= link_to "#{target_name(activity)}", activity(activity) %>
  </span>
  <span class="timestamp">
    <%= t "user.activity" %>
    <%= time_ago_in_words activity.created_at %>
    <%= t "activity.time" %>
  </span>
  <span>
    <% if activity.likes.any? %>
      <%= activity.likes.size %>
      <%= t "activity.like" %>
    <% end %>
  </span>

  <% if current_user.like(activity.id) %>
    <%= render "likes/unlike", activity: activity %>
  <% else %>
    <%= render "likes/like", activity: activity %>
  <% end %>
</li>
